.about {
    padding: 40px 0;
}

.about__title {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
}

.about__subtitle {
    font-size: 22px;
    margin-bottom: 10px;
}

.about__text {
    margin-bottom: 10px;
    color: var(--main-text-color);
    font-size: 20px;
}

.about__text--top {
    margin-bottom: 60px;
}

.about__skills {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-items: center;
}

.about__skills-group {
    position: relative;
    /*width: 27%;*/
    min-width: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__skills-group::before {
    content: "";
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.about__skills-group--langs::before {
    background-color: var(--button-color);
    background-image: url("/public/img/icons/langs.svg");
}

.about__skills-group--libs::before {
    background-color: var(--tertiary-color);
    background-image: url("/public/img/icons/libs.svg");
}

.about__skills-group--tools::before {
    background-color: var(--secondary-color);
    background-image: url("/public/img/icons/tools.svg");
}

@media(max-width: 767px) {
    .about__text--top {
        text-align: center;
    }

    .about__skills {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .about__skills-group {
        min-width: 200px;
        margin-bottom: 20px;
    }

    .about__skills-group::before {
        margin-bottom: 15px;
    }
}
