.navigation {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.navigation__logo {
    flex-shrink: 0;
    margin-right: 250px;
}

.logo__image {
    width: 84px;
    height: 63px;
}

.navigation__list {
    width: 100%;
    min-height: 54px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation__item:nth-child(even) {
    align-self: flex-end;
}

.navigation__link {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: inherit;
}

.navigation__link:hover {
    color: var(--button-color);
}

.navigation__link:focus {
    color: var(--button-color);
    opacity: 0.5;
}