.greeting {
    position: relative;
    padding: 200px 0;
    background-image: url("/public/img/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /*background: linear-gradient(75deg,*/
    /*var(--tertiary-color) 0%,  #fff 50%,*/
    /*#fff 50%, #ddd 100%);*/
}

.greeting__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #101010;
    opacity: 0.8;
}

.greeting__container {
    position: relative;
    display: flex;
}

.greeting__column {
    display: flex;
    align-items: center;
    width: 50%;
    flex-shrink: 0;
}

.greeting__column--left {
    justify-content: center;
}

.greeting__column--right {
    flex-direction: column;
    justify-content: center;
}

.greeting__title {
    width: 75%;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: bold;
}

.greeting__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.greeting__btn {
    padding: 16px 50px;
    display: block;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}